.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
#search-bar {
  width: 100%;
  padding: 0.5rem;
  border: 1px lightgray solid;
  border-radius: 10px;
}
#search-bar:focus {
  border: 2px lightgray solid !important;
  border-radius: 10px !important;
}
